.main__item {
    width: 320px;
    height: 509px;
}

.main__item__picture_blue {
    border: #1698D9 solid 5px;
    border-radius: 20px;
    width: 320px;
    height: 480px;
    overflow: hidden;
    background-color: #FFFFFF;
    cursor: pointer;
}

.main__item__picture_red {
    border: #D91667 solid 5px;
    border-radius: 20px;
    width: 320px;
    height: 480px;
    overflow: hidden;
    background-color: #FFFFFF;
    cursor: pointer;
}

.item__text1 {
    margin-top: 20px;
    margin-left: 51px;
    color: #666666;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.item__text2 {
    margin-top: 5px;
    margin-left: 51px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
}

.item__text3 {
    margin-left: 51px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.item__text4 {
    margin-top: 5px;
    margin-left: 51px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.item__pic {
    margin-top: 49px;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 384px 16px 16px 224px;
    background: #1698D9;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
}

.circle_weight {
    font-size: 42px;
    margin-top: 15px;
}

.circle_kg {
    font-size: 21px;
    margin-top: 10px;
}

.bottom {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main__item__bottomtext {
    margin-top: 14px;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.bottom__buy {
    margin-top: 14px;
    font-family: "Trebuchet MS";
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #1698D9;
    margin-left: 5px;
    border-bottom-style: dashed;
    cursor: pointer;
}
