$color-blue: #1698D9;
$color-grey: #666666;
$color-white: #FFFFFF;

.main__item {
  width: 320px;
  height: 509px;
}

.main__item__picture {
  border: $color-blue solid 5px;
  border-radius: 20px;
  width: 320px;
  height: 480px;
  overflow: hidden;
  background-color: $color-white;
}

.item__text1 {
  margin-top: 20px;
  margin-left: 51px;
  color: $color-grey;
  font-family: "Trebuchet MS";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.item__text2 {
  margin-top: 5px;
  margin-left: 51px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
}

.item__text3 {
  margin-left: 51px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.item__text4 {
  margin-top: 5px;
  margin-left: 51px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: $color-grey;
}

.item__pic {
  margin-top: 49px;
}

.main__item__bottomtext {
  text-align: center;
  margin-top: 14px;
  font-family: "Trebuchet MS";
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 384px 16px 16px 224px;
  background: $color-blue;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  color: $color-white;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
}

.circle_weight {
  font-size: 42px;
  margin-top: 15px;
}

.circle_kg {
  font-size: 21px;
  margin-top: 10px;
}